<div class="new-user">New User</div>
<div class="sign-in">Sign In </div>
<div class="login-form" pb-autologin="true" autocomplete="off" style="display: none;">
  <label>E-Mail</label><input type="email" class="email-input" pb-role="username">
  <label class="password-input">Password</label><input type="password" class="password-input mainpass" pb-role="password">
  <label class="password-input hidden rtpass">(New Users) Password</label>
   <a href="" class="password-reminder">Forgot password?</a>
</div>

