<div class='help'>
	<dl>
		<dt ng-click="helpToggle($event)">What is a spark?</dt>
		<dd>A spark is a captured thought or idea. Once you create a spark it is saved and can have other sparks added to it. It can also be added to other sparks creating full fledged ideas. Sparks can contain text and images so you can represent your thoughts in many ways. You can return to a spark any time to edit and develop your idaes.</dd>

		<dt ng-click="helpToggle($event)">How do I create a spark?</dt>
		<dd class="">You can create a spark by giving it a title only and pressing enter or click the green create button. Sparks can also have a description and image attached on creation but these are not required. </dd>
		
		<dt ng-click="helpToggle($event)">Why does <span id="idea">Idea</span><span id="jot">Jot</span> need access to my Google Drive?</dt>
		<dd><span id="idea">Idea</span><span id="jot">Jot</span> can only access files you upload through <span id="idea">Idea</span><span id="jot">Jot</span>. Your other Google Drive files are invisible to the application. Using Google Drive ensures your files are in a trusted secure space that you will have access to. By using other storage spaces we are able to maximize the efficieny of our application and give the user a seamless integrated end user experience.</dd>

		<dt ng-click="helpToggle($event)">Who is Cognitio?</dt>
		<dd>We believe that ideas are unique and have the power to change the world around us. What we do (or don’t do) with our ideas, may be the most important decision we make. Yet, if you’ve never taken an idea from concept to reality before, it can be extremely daunting and discouraging. That’s where we come in. Even for seasoned innovators who’ve delivered their ideas to the world, the process can be overwhelming. Cognitio was founded to change that, hopefully making people’s lives better and easier in the process! Check out our Mission section to learn more about our inspiration and what’s been keeping us busy.</dd>

		<dt ng-click="helpToggle($event)">Who owns my idea?</dt>
		<dd>You own your ideas. <span id="idea">Idea</span><span id="jot">Jot</span> is simply a free tool to help you capture and develop those ideas to their full poetential. There is no transfer of ownership and your ideas are kept as your own private data.</dd>
	</dl>

</div>

