<div class="how-to">
	<div class="arrow"></div>
  	<div class="welcome">
  		<h2>Welcome to IdeaJot</h2>
  		<p>We are here to help you to save your ideas, or Sparks as we call them, and add to them later. A Spark is simply an idea with a description and possibly a photo to help you remember it.</p>
    	<button class="get-started">GET STARTED</button>
    	<button class="close">CLOSE</button>
  	</div>
  	<div class="how-to-create"> 
  		<h2>Create a Spark</h2>	
  		<span class="create-help">Enter the name of your spark into this main input.<br>This is enough to create a spark, but lets add some more detail.</span>
  		<span class="how-to-add-details">Let's give your spark a description with a little more detail.</span>
  		<span class="how-to-add-image">And while we are at it lets add an image to help us remember what we are talking about.</span>
  		<span class="how-to-create-button">And now we click our create button or press 'Enter' to add our new spark to the <em>Battery<em></span>
  	</div>
  	<div class="how-to-open-spark hidden">
  		<h2>Your Spark</h2>
  		<span class="how-to-edit-spark">On this page we can edit our Spark. All your changes are saved as you type.</span>
  		<span class="how-to-add-children">Here you can add Sparks to this Spark to elaborate on your main idea.</span>
  		<span class="how-to-nav">Now let's click on our menu and then navigate to our Battery</span>
  	</div>
  	<div class="how-to-battery hidden">
  		<h2>Your Battery</h2>
  		<span class="how-to-battery-intro">The Battery is where all your Sparks are stored. In this view you see only the top level Sparks (Sparks with no parents).</span>
  		<span class="how-to-battery-create">You can create a new Spark here and it will be saved in the Battery. Let's do that now.</span>
  		<span class="how-to-drag">If you think that a Spark should actually be part of a different set of ideas you can drag it and drop it onto the Spark you want it to belong to. Try it with the Spark we just created.</span>
  		<span class="how-to-trash">If you delete an idea it is sent to the Trash Bin. It is kept there until you empty your trash.</span>
  	</div>
</div>