<div class="new-user">New User</div>
<div class="sign-in">Sign In |</div>
<div class="login-form" pb-autologin="true" autocomplete="off" style="display: none;">
  <label>E-Mail</label><input type="email" class="email-input" pb-role="username">
  <label class="password-input">Password</label><input type="password" class="password-input mainpass" pb-role="password">
  <label class="password-input hidden rtpass">(New Users) Password</label>
  <div class="submit-button">
    <input type="submit" value="submit" pb-role="submit">
  </div>
  <div class="fb-login-button"><img src="images/social_login_button_fb.png" alt="face book login button"></div>
  <div class="li-login-button">
    <script type="IN/Login" data-onauth="onLinkedInAuth"></script>
  </div>
  <br>
  <a href="" class="password-reminder">Forgot password?</a>
</div>

