.mailtext {
    font-size: 14px;
}

.name {
font-style: italic;
width: 196px;
color: #8F8F8F;
text-align: left;
font-size: 11px;
word-wrap: break-word;
clear: both;
display: block;
margin-top: 10px;
}

/* ivan own */

.navbar-inverse {
    background-image: linear-gradient(to bottom,#00425C 0,#80B5CE 100%);
    background-repeat: repeat-x;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
    font-size: 30px;
    background: black;
    text-transform: uppercase;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: linear-gradient(to bottom,#D14F4F 0,#B61C1C 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c',endColorstr='#ff222222',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: #101010;
}

.navbar-inverse {
background-color: #222;
border-color: #AC2148;
}

.btn-primary {
color: #fff;
background-color: #CA4242;
border-color: #BD3535;
}

/* ivan own */