<div class='page-header'>
  <h1><a href="/#/class/{{link}}" class="">{{link}}</a> <small> messages</small></h1>
  <p class='lead'>{{class.description}}</p>
</div>
<div class="row" >
  <div class="col-xs-12 col-md-2" >
    <img src="http://www.gravatar.com/avatar/{{hash(message.sender)}}" class='img-circle' alt="{{message.sender}}">
    <span class='label label-{{color(message.average)}}' daga-ng-show='message.homework'><i class='glyphicon glyphicon-check'></i> {{message.average}}</span>
  </div>
  <div class="col-xs-12 col-md-9" >
    <h3>{{message.order}} - {{message.subject}}</h3>
    <blockquote>
        <p>{{message.text}}</p>
        <small>{{message.sender}}</small>
    </blockquote>
    <div class='page-header'>
      <h3>Attachments</h3>
    </div>
    <ul class='nav nav-pills nav-stacked'>
      <li data-ng-repeat='attachment in message.attachments'>
        <a href="{{attachment}}" target='_blank'>{{attachment}}</a>
      </li>
    </ul>
    <div class='page-header'>
      <h3>Peer Reviews</h3>
    </div>
    <ul class='nav nav-pills nav-stacked'>
      <li data-ng-repeat='(key, review) in message.reviews track by key'>
        <p><span class='label label-info'>{{review.value}}</span> {{review.email}}</p>
        <p><strong>{{review.notes}}</strong></p>
      </li>
    </ul>
    <div class='page-header'>
      <h3>Add a Review</h3>
    </div>
    <div class='row'>
      <form data-role="form" class='form-inline' action=''>
        <div class="form-group">
          <label for='email'>Email address</label>
          <input type="email" class="form-control" data-ng-model='email' placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for='email'>Notes</label>
          <input type="text" class="form-control" data-ng-model='notes' placeholder="Add notes if you wish">
        </div>
        <div class="form-group">
          <label for='email'>Grade</label>
          <input  class="form-control" data-ng-model='grade' placeholder="Grade from 0 to 5">
        </div>
        <div class="form-group">
          <label for='email'>&nbsp;</label>
          <button class='btn btn-primary' class="form-control" data-ng-click='sendReview()' >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

