<div class='page-header'>
  <h1><a href="#/class/{{link}}" class="">{{class.name}}</a> <small> messages</small></h1>
  <p class='lead'>{{class.description}}</p>
</div>
<div class="row" data-ng-repeat="(key, message) in class.messages | toArray |orderBy:'order':true" >
  <div class="col-xs-4 col-md-2" >
    <img src="http://www.gravatar.com/avatar/{{hash(message.sender)}}" class='img-circle' alt="{{message.sender}}">
    <span class='label label-{{color(message.average)}}' daga-ng-show='message.homework'><i class='glyphicon glyphicon-check'></i> {{message.average}}</span>
  </div>
  <div class="col-xs-7 col-md-9" >
    <h3><a href='#/class/{{link}}/message/{{message.id}}' >{{message.order}} - {{message.subject}}</a></h3>
    <blockquote>
        <p>{{message.text}}</p>
        <small>{{message.sender}}</small>
    </blockquote>
    <ul class='nav nav-pills'>
      <li data-ng-repeat='attachment in message.attachments'>
        <a href="{{attachment}}" target='_blank'>{{attachment}}</a>
      </li>
    </ul>
  </div>
</div>



