

<div id="footer-menu">
	<br>
	<div id="copyright">
		<span> Copyright© <a href="http://cognitio.co">Cognitio.co</a> ~ 2013 </span>
	</div>
  <a data-ng-click='goTo("/battery")'>
  	<div class="archive-button quarter-width left">SHARE</div>
  </a>
  <a data-ng-click='goTo("/help")'>
  	<div class="archive-button quarter-width right">HELP</div>
  </a>
  <a data-ng-click='goTo("/feedback")'>
  	<div class="archive-button quarter-width left">FEEDBACK</div>
  </a>
  <a href="http://cognitio.co/?page_id=312">
  	<div class="archive-button quarter-width right">ABOUT</div>
  </a>
</div>
